<div ng-controller="adminController">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Panel administratora</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="" data-ng-click="setLayout('users')">Użytkownicy</a>
                <a class="nav-item nav-link" href="" data-ng-click="setLayout('cars')">Pojazdy</a>
                <a class="nav-item nav-link" href="" data-ng-click="setLayout('packages')">Paczki</a>
                <a class="nav-item nav-link" href="" data-ng-click="setLayout('orders')">Zlecenia</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div id="usersLayout" ng-if="usersLayout" class="jumbotron">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewUser">Dodaj nowego użytkownika</button>
            <h3>Klienci</h3>
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Address</th>
                </tr>
                </thead>
                <tbody>
                <tr style="cursor:pointer;" ng-repeat="user in adminData.clientsData" data-ng-click="prepareModalEditUser(User)" data-toggle="modal" data-target="#editUser">>
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.Name}}</td>
                    <td>{{user.Surname}}</td>
                    <td>{{user.Adress}}</td>
                </tr>
                </tbody>
            </table>

            <h3>Kurierzy</h3>
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Salary</th>
                </tr>
                </thead>
                <tbody>
                <tr style="cursor:pointer;" ng-repeat="courier in adminData.couriersData">
                    <th scope="row">{{courier.id}}</th>
                    <td>{{courier.Name}}</td>
                    <td>{{courier.Surname}}</td>
                    <td>{{courier.Salary}}</td>
                </tr>
                </tbody>
            </table>



            <h3>Menadżerowie</h3>
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Salary</th>
                </tr>
                </thead>
                <tbody>
                <tr style="cursor:pointer;" ng-repeat="manager in adminData.managersData">
                    <th scope="row">{{manager.id}}</th>
                    <td>{{manager.Name}}</td>
                    <td>{{manager.Surname}}</td>
                    <td>{{manager.Salary}}</td>
                </tr>
                </tbody>
            </table>
            <div class="modal fade" id="addNewUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-target="#addNewUser" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="UserModalLabel">Dodawanie nowego użytkownika</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="addNewUserName">Imię:</label>
                                <input type="text" class="form-control" id="addNewUserName" placeholder="np. Jan" ng-model="newUser.newUserName">
                            </div>
                            <div class="form-group">
                                <label for="addNewUserSurname">Nazwisko:</label>
                                <input type="text" class="form-control" id="addNewUserSurname" placeholder="np. Kowalski" ng-model="newUser.newUserSurname">
                            </div>
                            <div class="form-group">
                                <label for="addNewUserAddress">Adres:</label>
                                <input type="text" class="form-control" id="addNewUserAddress" placeholder="np. Miodowa 14" ng-model="newUser.newUserAddress">
                            </div>
                            <div class="form-group">
                                <select class="custom-select" id="addNewUserType" ng-model="newUser.newUserType">
                                    <option selected>client</option>
                                    <option>manager</option>
                                    <option>admin</option>
                                    <option>courier</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="addNewUserLogin">Login:</label>
                                <input type="text" class="form-control" id="addNewUserLogin" placeholder="np. fajnyLogin" ng-model="newUser.newUserLogin">
                            </div>
                            <div class="form-group">
                                <label for="addNewUserPassword">hasło:</label>
                                <input type="text" class="form-control" id="addNewUserPassword" placeholder="np. tajnehasło" ng-model="newUser.newUserPassword">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="addNewUser()">Dodaj</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="exampleEditPackageModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleEditUserModalLabel">Edycja użytkownika</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="form-group">
                            <label for="editUserName">Imię:</label>
                            <input type="text" class="form-control" id="editUserName" placeholder="np. Jan" >
                        </div>
                        <div class="form-group">
                            <label for="editUserSurname">Nazwisko:</label>
                            <input type="text" class="form-control" id="editUserSurname" placeholder="np. Kowalski">
                        </div>
                        <div class="form-group">
                            <label for="editUserAddress">Adres:</label>
                            <input type="text" class="form-control" id="editUserAddress" placeholder="np. Miodowa 41" >
                        </div>

                        <div class="form-group">
                            <label for="editUserPackagesReceived">Ilość otrzymanych paczek:</label>
                            <input type="text" class="form-control" id="editUserPackagesReceived" placeholder="np. 5" >
                        </div>
                        <div class="form-group">
                            <select class="custom-select" id="editUserType" >
                                <option selected>client</option>
                                <option>manager</option>
                                <option>admin</option>
                                <option>courier</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="editUserLogin">Login:</label>
                            <input type="text" class="form-control" id="editUserLogin" placeholder="np. fajnyLogin" >
                        </div>

                        <div class="form-group">
                            <label for="editUserPassword">hasło:</label>
                            <input type="text" class="form-control" id="editUserPassword" placeholder="np. tajnehasło" >
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="editUser()">Edytuj</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="deleteUser()">Usuń</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="editWorker" tabindex="-1" role="dialog" aria-labelledby="exampleEditPackageModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleEditWorkerModalLabel">Edycja użytkownika</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="form-group">
                            <label for="editWorkerName">Imię:</label>
                            <input type="text" class="form-control" id="editWorkerName" placeholder="np. Jan" >
                        </div>
                        <div class="form-group">
                            <label for="editWorkerSurname">Nazwisko:</label>
                            <input type="text" class="form-control" id="editWorkerSurname" placeholder="np. Kowalski">
                        </div>
                        <div class="form-group">
                            <select class="custom-select" id="editWorkerType" >
                                <option selected>client</option>
                                <option>manager</option>
                                <option>admin</option>
                                <option>courier</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="editWorkerLogin">Login:</label>
                            <input type="text" class="form-control" id="editWorkerLogin" placeholder="np. fajnyLogin" >
                        </div>

                        <div class="form-group">
                            <label for="editWorkerPassword">hasło:</label>
                            <input type="text" class="form-control" id="editWorkerPassword" placeholder="np. tajnehasło" >
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="editUser()">Edytuj</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="deleteUser()">Usuń</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="carsLayout" ng-if="carsLayout" class="jumbotron">
            <h3>Pojazdy</h3>
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">Registration number</th>
                    <th scope="col">Year of production</th>
                    <th scope="col">Technical condition</th>
                    <th scope="col">Type</th>
                </tr>
                </thead>
                <tbody>
                <tr style="cursor:pointer;" ng-repeat="car in adminData.carsData" data-ng-click="prepareModalEditCar(car)" data-toggle="modal" data-target="#editCar">
                    <th scope="row">{{car.Registration_number}}</th>
                    <td>{{car.Year_of_production}}</td>
                    <td>{{car.Technical_condition}}</td>
                    <td>{{car.Type}}</td>
                </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewCar">Dodaj nowy pojazd</button>
            <div class="modal fade" id="editCar" tabindex="-1" role="dialog" aria-labelledby="exampleEditCarModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleEditCarModalLabel">Edycja pojazdu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="editCarReg">Tablice rejestracyjne:</label>
                                <input type="text" class="form-control" id="editCarReg" placeholder="np. WA 23521">
                            </div>
                            <div class="form-group">
                                <label for="editCarYear">Rok produkcji:</label>
                                <input type="text" class="form-control" id="editCarYear" placeholder="np. 2005">
                            </div>
                            <div class="form-group">
                                <select class="custom-select" id="editCarCondition">
                                    <option selected>good</option>
                                    <option>broken</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="editCarType">Typ:</label>
                                <input type="text" class="form-control" id="editCarType" placeholder="np. Ford">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="editCar()">Edytuj</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="deleteCar()">Usuń</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addNewCar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Dodawanie nowego pojazdu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="addNewCarReg">Tablice rejestracyjne:</label>
                                <input type="text" class="form-control" id="addNewCarReg" placeholder="np. WA 23521" ng-model="newCar.newCarReg">
                            </div>
                            <div class="form-group">
                                <label for="addNewCarYear">Rok produkcji:</label>
                                <input type="text" class="form-control" id="addNewCarYear" placeholder="np. 2005" ng-model="newCar.newCarYear">
                            </div>
                            <div class="form-group">
                                <select class="custom-select" id="addNewCarCondition" ng-model="newCar.newCarCondition">
                                    <option selected>good</option>
                                    <option>broken</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="addNewCarType">Typ:</label>
                                <input type="text" class="form-control" id="addNewCarType" placeholder="np. Ford" ng-model="newCar.newCarType">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="addNewCar()">Dodaj</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="ordersLayout" ng-if="ordersLayout" class="jumbotron">
            <h3>Zlecenia</h3>
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">Package ID</th>
                    <th scope="col">Client ID</th>
                    <th scope="col">Courier ID</th>
                </tr>
                </thead>
                <tbody>
                <tr style="cursor:pointer;" ng-repeat="order in adminData.ordersData" data-ng-click="prepareModalEditOrder(order)" data-toggle="modal" data-target="#editOrder">
                    <th scope="row">{{order.Package_id}}</th>
                    <td>{{order.Client_id}}</td>
                    <td>{{order.Courier_id}}</td>
                </tr>
                </tbody>
            </table>
            <div class="modal fade" id="editOrder" tabindex="-1" role="dialog" aria-labelledby="exampleEditOrderModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleEditOrderModalLabel">Edycja zlecenia!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="form-group">
                            <label for="editOrderClientId">ID klienta:</label>
                            <input type="number" class="form-control" id="editOrderClientId">
                        </div>
                        <div class="form-group">
                            <label for="editOrderCourierId">ID kuriera:</label>
                            <input type="number" class="form-control" id="editOrderCourierId">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="editOrder()">Edytuj</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="deleteOrder()">Usuń</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>


        <div id="packagesLayout" ng-if="packagesLayout" class="jumbotron">
            <h3>Paczki</h3>
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Value</th>
                    <th scope="col">Size</th>
                    <th scope="col">State</th>
                    <th scope="col">Delivery address</th>
                    <th scope="col">Delivery person</th>
                </tr>
                </thead>
                <tbody>
                <tr style="cursor:pointer;" ng-repeat="package in adminData.packageData" data-ng-click="prepareModalEditPackage(package)" data-toggle="modal" data-target="#editPackage">
                    <th scope="row">{{package.id}}</th>
                    <td>{{package.Weight}}</td>
                    <td>{{package.Value}}</td>
                    <td>{{package.Size}}</td>
                    <td>{{package.State}}</td>
                    <td>{{package.Delivery_Address}}</td>
                    <td>{{package.Delivery_Person}}</td>
                </tr>
                </tbody>
            </table>
                <div class="modal fade" id="addNewPackage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="PackageModalLabel">Dodawanie nowej paczki</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="addNewPackageWeight">Waga:</label>
                                    <input type="text" class="form-control" id="addNewPackageWeight" placeholder="np. 100" ng-model="newPackage.newPackageWeight">
                                </div>
                                <div class="form-group">
                                    <label for="addNewPackageValue">Wartość:</label>
                                    <input type="text" class="form-control" id="addNewPackageValue" placeholder="np. 34" ng-model="newPackage.newPackageValue">
                                </div>
                                <div class="form-group">
                                    <label for="addNewPackageSize">Rozmiar:</label>
                                    <input type="text" class="form-control" id="addNewPackageSize" placeholder="np. 50" ng-model="newPackage.newPackageSize">
                                </div>
                                <div class="form-group">
                                    <label for="addNewPackageDeliveryAddress">Adres Odbiorcy:</label>
                                    <input type="text" class="form-control" id="addNewPackageDeliveryAddress" placeholder="np. Złota 87" ng-model="newPackage.newPackageDeliveryAddress">
                                </div>
                                <div class="form-group">
                                    <label for="addNewPackageDeliveryPerson">Imię i Nazwisko Adresata:</label>
                                    <input type="text" class="form-control" id="addNewPackageDeliveryPerson" placeholder="np. Jan Kowalski" ng-model="newPackage.newPackageDeliveryPerson">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="addNewPackage()">Dodaj</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="editPackage" tabindex="-1" role="dialog" aria-labelledby="exampleEditPackageModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleEditPackageModalLabel">Edycja paczki</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="form-group">
                                <label for="editPackageWeight">Waga:</label>
                                <input type="text" class="form-control" id="editPackageWeight" placeholder="np. 100" >
                            </div>
                            <div class="form-group">
                                <label for="editPackageValue">Wartość:</label>
                                <input type="text" class="form-control" id="editPackageValue" placeholder="np. 34">
                            </div>
                            <div class="form-group">
                                <label for="editPackageSize">Rozmiar:</label>
                                <input type="text" class="form-control" id="editPackageSize" placeholder="np. 50" >
                            </div>
                            <div class="form-group">
                                <select class="custom-select" id="editPackageState">
                                    <option selected>taken_from_client</option>
                                    <option>in magazine</option>
                                    <option>waiting for courier</option>
                                    <option>in_delivery</option>
                                    <option>delivered</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="editPackageDeliveryAddress">Adres Odbiorcy:</label>
                                <input type="text" class="form-control" id="editPackageDeliveryAddress" placeholder="np. Złota 87" >
                            </div>
                            <div class="form-group">
                                <label for="editPackageDeliveryPerson">Imię i Nazwisko Adresata:</label>
                                <input type="text" class="form-control" id="editPackageDeliveryPerson" placeholder="np. Jan Kowalski" >
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="editPackage()">Edytuj</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="deletePackage()">Usuń</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewPackage">Dodaj nową paczkę</button>
                </div>
        </div>
    </div>
</div>