<div ng-controller="clientController">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Panel klienta</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarClientLayout" aria-controls="navbarClientLayout" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarClientLayout">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="" data-ng-click="setClientLayout('myOrders')">Moje przesyłki</a>
                <a class="nav-item nav-link" href="" data-ng-click="setClientLayout('addOrder')">Złóż zamówienie</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1 class="display-4">Witaj {{clientData.userData.Name}} {{clientData.userData.Surname}}!</h1>
        <div id="clientMyOrders" ng-if="layoutMyOrders" class="jumbotron">
            <h3>Moje przesyłki</h3>
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">Waga</th>
                    <th scope="col">Cena</th>
                    <th scope="col">Rozmiar</th>
                    <th scope="col">Status</th>
                    <th scope="col">Adres odbiorcy</th>
                    <th scope="col">Dane odbiorcy</th>
                </tr>
                </thead>
                <tbody>
                <tr style="cursor:pointer;" ng-repeat="package in clientData.packageData" data-ng-click="" data-toggle="modal" data-target="">
                    <th scope="row">{{package.Weight}}</th>
                    <td>{{package.Value}}</td>
                    <td>{{package.Size}}</td>
                    <td>{{package.State}}</td>
                    <td>{{package.Delivery_Address}}</td>
                    <td>{{package.Delivery_Person}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="clientAddOrder" ng-if="layoutAddOrder" class="jumbotron">
            <h3>Nowe zamówienie, podaj dane paczki!</h3>
            <form data-ng-submit="addNewOrder()">
                <div class="form-group">
                    <label for="clientAddOrderPerson">Dane odbiorcy (imię i nazwisko)</label>
                    <input type="text" class="form-control" id="clientAddOrderPerson" placeholder="Na przykład Jan Kowalski" ng-model="package.Delivery_Person">
                </div>
                <div class="form-group">
                    <label for="clientAddOrderAddress">Adres odbiorcy (wymagana ulica, miasto i kod pocztowy)</label>
                    <input type="text" class="form-control" id="clientAddOrderAddress" placeholder="Na przykład ul. Wiejska 11, 02-222 Warszawa" ng-model="package.Delivery_Address">
                </div>
                <div class="form-group">
                    <label for="clientAddOrderWeight">Waga paczki (kg)</label>
                    <input type="number" class="form-control" id="clientAddOrderWeight" placeholder="Na przykład 2.5" ng-change="recalculatePackageValue()" ng-model="package.Weight">
                </div>
                <div class="form-group">
                    <label for="clientAddOrderSize">Rozmiar paczki (w cm^3)</label>
                    <input type="number" class="form-control" id="clientAddOrderSize" placeholder="Na przykład 10cmx10cmx10cm - 1000" ng-change="recalculatePackageValue()" ng-model="package.Size">
                </div>
                <p>Wyliczona cena przesyłki: {{package.Value}}zł</p>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>